services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  db:
    image: postgis/postgis:15-3.3
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "postgres_data:/var/lib/postgresql/data"

  producer:
    build: .
    command: python producer.py
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:9092
      - SIMULATE_EARTHQUAKE=${SIMULATE_EARTHQUAKE:-false}
      - MY_LAT=${MY_LAT:-30.0444}
      - MY_LON=${MY_LON:-31.2357}

  consumer:
    build: .
    command: python consumer.py
    depends_on:
      - db
      - kafka
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - GEMINI_KEY=${GEMINI_KEY}
      - KAFKA_BROKER=kafka:9092
      - MY_LAT=${MY_LAT:-30.0444}
      - MY_LON=${MY_LON:-31.2357}

  backend:
    build: .
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
      - kafka
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - GEMINI_KEY=${GEMINI_KEY}
      - KAFKA_BROKER=kafka:9092
      - MY_LAT=${MY_LAT:-30.0444}
      - MY_LON=${MY_LON:-31.2357}

volumes:
  postgres_data:
